@model InventarioMeta.Models.Maquinas

@{
    ViewBag.Title = "Editar";
}
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a href="@Url.Action("Index","Maquinas")">
            <button type="submit" value="Retornar" class="btn btn-danger waves-effect waves-themed">
                Retornar
            </button>
        </a>
    </div>
</div>
<h2>Editar Máquinas</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        <label class="control-label col-md-2">
            Processador
        </label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Processador, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Processador, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">
            Memória RAM
        </label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.RAM, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RAM, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">
            Sistema Operacional
        </label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.SistemaOperacional, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SistemaOperacional, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">
            Tipo de Armazenamento
        </label>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.CodigoTipoArmazenamento, Model.TiposArmazenamentos, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TiposArmazenamentos, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">
            Armazenamento (GB)
        </label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.EspacoArmazenamento, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EspacoArmazenamento, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">
            Adaptador Wifi
        </label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.AdaptadorWifi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AdaptadorWifi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">
            Responsável
        </label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Responsavel, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Responsavel, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-actions no-color">
        <button type="submit" value="Salvar" class="btn btn-success waves-effect waves-themed">
            Salvar
        </button> |
        <a href="@Url.Action("Index","Maquinas")">
            <button type="submit" value="Retornar" class="btn btn-danger waves-effect waves-themed">
                Retornar
            </button>
        </a>
    </div>

</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
